/* * {
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    padding-left: 0px;
    
  } */
  
  body {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
  }
  
  
  h1,
  
  h4,
  h5,
  h6 {
    font-family: "Playfair Display", serif;
    margin-bottom: 1em;

  }
  h2{
    display: flex;
    align-items: center;
    flex-direction: column;
    

  }
  h3{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: white;
   
  }
  
  p {
    margin-bottom: 1em;
    display: flex;
    color: black;
    font-size: 20px;
  }
  
  nav {
    background-color: black;
    align-items: center;
    padding-left: 600px;
  }
  
  nav a {
    display: inline-block;
    margin: 1rem 2rem;
    text-decoration: none;
    font-size: 1.2em;
    color: green;
    border-bottom: 2px solid black;
    transition: 0.1s;
  }
  
  nav a:hover,
  nav a:active {
    color: tomato;
    border-bottom: 2px solid tomato;
  }
  
  #home {
    height: 50vh;
    min-height: 400px;
    background-color: cornsilk;
  }
  
  #home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
  }

  #Form{
    color: black;
    display: inline;
  }
  
  #drop{
    color: black;
    display: block;
  }
 
  
  
  
  
 
  
 
  
  img.image{
   padding: 2px;
    align-items: center;
    display: flex;
    width: 500px;
    border-color: black;
    border: 1000cap;
    height: 320px;
    min-width: 410px;
    
  }

  div.CardTemplet{
    margin: 10px;
    border: 10px solid;
    border-radius: 10px;
    max-width: 600px;
    max-height: 500px;
    min-width: 470px;
    
    padding: 0px ;
    background-color: white ;
    border-spacing: 10px;
    

  }

  button.button{
    background-color: white;
    display: inherit;
  }

  div#geckocards, div#lizardcard, div#snakecard{
    padding-left: 700px;
    align-items: center;
  }
  
  @media (min-width: 700px) {
    #project-list {
      flex-direction: row;
    }
  
    .project-item {
      width: 50%;
    }
  }
  